.works {
  @include sectionBase;
  background: var(--secondary-background-color);
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    padding-top: 0;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
  }

  &__list {
    @include listBase;
    display: flex;
    /* gap: 30px; */
    justify-content: space-between;
  }
}

.works__content {
  position: relative;
}

.works__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
  @include flexBase;

  /* padding-top: 27px;
  padding-bottom: 27px;
  text-align: center; */
}
