:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-hover-color: #2196f3;
  --logo-color-blue: #2196f3;
  --logo-color-black: #000000;
  --primary-white-color: #ffffff;
  --email-telephone-text-color: rgba(255, 255, 255, 0.6);
  --hero-background-color: #2f303a;
  --secondary-background-color: #ffffff;
  --team-background-color: #f5f4fa;
  --svg-color: #afb1b8;
}
